@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-one: #103178;
  --color-two: #ffc800;
  --color-three: #040c1e;
  --color-text: #5b6c8f;
  --color-four: #47b5ed;
  --color-five: #13a05d;
  --color-six: #bbbbbb;
  --color-background: #f0f2f5;

  --font: "Inria Serif", serif;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: var(--font);
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  width: min(100%, 120rem);
  margin-left: auto;
  margin-right: auto;
}

/* Buttons */
.button {
  font-size: 1.8rem;
  font-weight: 700;
  background: var(--color-two);
  color: #fff;
  border: 2px solid var(--color-two);
  border-radius: 3rem;
  padding: 1.6rem 4.8rem;
  display: inline-flex;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #fff;
  color: var(--color-two);
}
/* End Buttons */

.sticky {
  position: sticky;
  top: -1px;
  left: 0;
  z-index: 1000;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
    padding: 0 2rem;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 400px;
    padding: 0 2rem;
  }
}