@media (max-width: 1200px) {
  /* Header */
  .header-main .inner-menu {
    margin-left: 1rem;
  }
  /* End Header */

  /* Section One */
  .section-one .inner-content .inner-item {
    margin-right: 9rem;
  }

  .section-one .inner-image .inner-sale {
    width: 12rem;
    height: 12rem;
  }

  .section-one .inner-content .button {
    margin-bottom: 1.6rem;
  }
  /* End Section One */
}

@media (max-width: 992px) {
  /* Header */
  .header-main .inner-contact {
    display: none;
  }
  /* End Header */

  /* Section One */
  .section-one .inner-content, .section-one .inner-image {
    width: 100%;
  }

  .section-one .inner-image .inner-sale {
    width: 12rem;
    height: 12rem;
    top: 4.1rem;
    right: 17rem;
  }

  .section-one .inner-image .inner-sale span:first-child {
    font-size: 2rem;
  }

  .section-one .inner-image .inner-sale span:last-child {
    font-size: 4rem;
  }

  .section-two .inner-card {
    width: 100%;
    max-height: 26rem;
    margin-bottom: 4rem;
  }
  /* End Section One */

  /* Section Three */
  .section-three .uses-item {
    max-width: 220px;
    margin-left: 0;
    margin-right: 0;
  }
  /* End Section Three */

  
  /* Section Four */
  .section-four .inner-image {
    max-width: 332px;
  }
  /* End Section Four */

  
  /* Section Six */
  .section-six .card-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
  /* End Section Six */
}

@media (max-width: 768px) {
  /* Header */
  .header-top {
    font-size: 1.6rem;
  }

  .header-main .inner-menu, .header-main .inner-social {
    display: none;
  }
  
  .header-main .inner-menu-mobi {
    display: block;
  }
  /* End Header */

  /* Section One */
  .section-one .inner-content {
    text-align: center;
  }

  .section-one .inner-content .inner-list {
    justify-content: space-evenly;
  }

  .section-one .inner-content .inner-item {
    margin-right: 0;
  }

  .section-one .inner-image .inner-sale {
    width: 10rem;
    height: 10rem;
    top: 2.1rem;
    right: 12rem;
  }
  /* End Section One */

  /* Section Three */
  .section-three .inner-uses-list {
    display: block;
  }

  .section-three .uses-item {
    max-width: 100%;
  }
  /* End Section Three */

  /* Section Four */
  .section-four .inner-wrap {
    flex-direction: column;
  }

  .section-four .inner-content {
    order: 2;
    margin-left: 0;
    text-align: center;
  }

  .section-four .inner-content h2 {
    padding-top: 20px;
  }
  
  .section-four .inner-image {
    order: 1;
    max-width: 100%;
  }
  /* End Section Four */

  /* Section Five */
  .section-five .inner-wrap {
    padding-left: 40px;
    padding-right: 40px;
    flex-direction: column;
  }

  .section-five .inner-text {
    margin-bottom: 2rem;
  }
  /* End Section Five */

  /* Section Six */
  .section-six .card-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
  /* End Section Six */
}

@media (max-width: 576px) {
  /* Section One */
  .section-one .inner-content h1 {
    font-size: 4.8rem;
  }

  .section-one .inner-content .inner-list {
    flex-direction: column;
  }

  .section-one .inner-content .inner-item {
    margin-bottom: 2rem;
  }

  .section-two .inner-card {
    aspect-ratio: 1/1;
  }

  .section-one .inner-image .inner-sale {
    width: 8rem;
    height: 8rem;
    top: 1.1rem;
    right: 7rem;
  }

  .section-one .inner-image .inner-sale span:last-child {
    font-size: 3.6rem;
  }
  /* End Section One */

  /* Section Five */
  .section-five .inner-wrap {
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
  }

  .section-five .inner-text {
    flex-direction: column;
  }

  .section-five .inner-text i {
    font-size: 2.4rem;
    margin-right: 0;
    margin-bottom: 1rem;
  }
  /* End Section Five */
}