/* Header */
.header-top {
  font-size: 1.8rem;
  color: var(--color-two);
  background: var(--color-one);
  text-align: center;
  padding: .9rem;
}

.header-main {
  background: #fff;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.header-main .inner-wrap {
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-main .inner-logo a {
  color: var(--color-one);
  display: flex;
  align-items: center;
  transition: color 0.3s ease-out;
}

.header-main .inner-logo a:hover {
  color: var(--color-three);
}

.header-main .inner-logo img {
  width: auto;
  height: 4.8rem;
  object-fit: cover;
  margin-right: 1rem;
}

.header-main .inner-logo span {
  font-size: 2.2rem;
  font-weight: 700;
}

.header-main .inner-menu {
  margin-left: 20.3rem;
}

.header-main .inner-menu ul {
  margin: 1.2rem 0;
  display: flex;
}

.header-main .inner-menu ul li a {
  font-size: 1.8rem;
  color: var(--color-one);
  margin: 0 1.5rem;
  transition: color .2s ease-in-out;
}

.header-main .inner-menu ul li a:hover {
  color: var(--color-four);
}

.header-main .inner-contact {
  font-size: 1.8rem;
  color: var(--color-text);
  padding: 0 3.2rem;
}

.header-main .inner-social ul {
  display: flex;
}

.header-main .inner-social ul li {
  font-size: 2.4rem;
  padding: .8rem;
}

.header-main .inner-social ul li a {
  color: var(--color-one);
}

.header-main .inner-menu-mobi {
  display: none;
  font-size: 2.8rem;
}
/* End Header */

/* Section One */
.section-one .inner-wrap {
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
}

.section-one .inner-content {
  width: 50%;
  padding: 0 1rem;
}

.section-one .inner-content h1 {
  font-size: 6.1rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 3.2rem;
  color: var(--color-one);
}

.section-one .inner-content .inner-desc {
  font-size: 2.2rem;
  color: var(--color-one);
  margin-top: 0;
  margin-bottom: 3.2rem;
}

.section-one .inner-content .inner-list {
  margin-bottom: 3.2rem;
  display: flex;
}

.section-one .inner-content .inner-item {
  color: var(--color-text);
  font-size: 1.8rem;
  font-weight: 700;
  margin-right: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-one .inner-content .inner-item i {
  font-size: 2.3rem;
  margin-right: 1rem;
}

.section-one .inner-image {
  width: 50%;
  position: relative;
}

.section-one .inner-image img {
  width: 100%;
  height: auto;
}

.section-one .inner-image .inner-sale {
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  background-color: var(--color-two);
  position: absolute;
  top: 1.4rem;
  right: 11rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-one .inner-image .inner-sale span {
  color: var(--color-one);
  font-weight: 700;
}

.section-one .inner-image .inner-sale span:first-child {
  font-size: 2.2rem;
}

.section-one .inner-image .inner-sale span:last-child {
  font-size: 5rem;
}
/* End Section One */

/* Section Two */
.section-two {
  padding: 8rem 0;
}

.section-two .inner-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-two .inner-card {
  width: calc(100%/3 - 2rem);
  height: 100%;
  aspect-ratio: 4/3;
  position: relative;
  overflow: hidden;
}

.section-two .inner-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.6s;
}

.section-two .inner-card:hover img {
  transform: scale(1.1);
}

.section-two .inner-card .inner-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 3.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.section-two .inner-card .inner-tag {
  width: fit-content;
  font-size: 1.8rem;
  padding: .5rem 1.6rem;
  border-radius: 3rem;
  color: #fff;
  margin-bottom: 1rem;
  background: var(--color-five);
}

.section-two .inner-card .inner-title {
  font-size: 3rem;
  color: #fff;
  margin-top: 0;
  margin-bottom: 4.6rem;
}

.section-two .inner-card:nth-child(n+2) .inner-title {
  color: var(--color-one);
  margin: 0;
}

.section-two .inner-card .inner-sale,
.section-two .inner-card .inner-price-new {
  font-size: 4.8rem;
  font-weight: 700;
  color: var(--color-two);
  margin: 1.4rem 0;
}

.section-two .inner-card .inner-price-old {
  font-size: 2.4rem;
  color: var(--color-six);
  margin-bottom: 1.8rem;
}

.section-two .inner-card .button-one {
  border-color: var(--color-one);
  background: var(--color-one);
  padding: 1rem 3.5rem;
}

.section-two .inner-card .button-one:hover {
  background: #fff;
  color: var(--color-one);
}
/* End Section Two */

/* Section Three */
.section-three .inner-wrap {
  padding: 8rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.section-three .inner-title h2 {
  max-width: 68.5rem;
  font-size: 4.6rem;
  color: var(--color-one);
  margin-bottom: 16px;
}

.section-three .inner-title p {
  font-size: 2.2rem;
  color: var(--color-text);
  margin-bottom: 32px;
}

.section-three .inner-uses-list {
  display: flex;
}

.section-three .uses-item {
  max-width: 23.4rem;
  height: auto;
  color: var(--color-text);
  margin: 32px 40px 0;
}

.section-three .uses-item i {
  font-size: 4.8rem;
  margin-bottom: 3.2rem;
}

.section-three .uses-item h3 {
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--color-one);
  margin-bottom: 1.6rem;
}

.section-three .uses-item p {
  font-size: 1.7rem;
}
/* End Section Three */

/* Section Four */
.section-four .inner-wrap {
  margin: 8rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-four .inner-content {
  max-width: 46rem;
  margin-left: 32px;
}

.section-four .inner-content h2 {
  font-size: calc( 2.3rem + (3.2 - 2.3) * ((100vw - 20rem) / (48 - 20)));
  color: var(--color-one);
}

.section-four .inner-content p {
  font-size: calc( 1.7rem + (1.3 - 1.14) * ((100vw - 20rem) / (48 - 20)));
  color: var(--color-one);
  margin: 35px 0;
}

.section-four .inner-content .btn-two {
  padding: 1rem 3rem;
}

.section-four .inner-image {
  width: 585px;
  height: 100%;
}

.section-four .inner-image img {
  width: 100%;
}
/* End Section Four */

/* Section Four */
/* End Section Four */
/* Section Four */
/* End Section Four */
/* Section Four */
/* End Section Four */
/* Section Four */
/* End Section Four */
/* Section Four */
/* End Section Four */